body {
    color:#000;
    background: #FFF;
    padding: 2rem 5rem;
}

.home, .content, #sobre, #produtos, #contato {
    height:100vh;
}

.home {
    padding-top:6rem;
}

#sobre, #produtos, #contato {
    padding-top:8rem;
}

nav {
    position:fixed;
    top: 0;
    right: 0;
    height:auto;
    width:100vw;
    color:#FFF;
    background:#333;
    text-align: right;
    font-size:2rem;
    margin:0;
    padding:0;
}

nav ul {
    list-style: none;
    margin-top:.5rem;
    margin-right:2rem;
}

nav ul li {
    display: inline-block;
}

nav ul li , nav ul li a:visited, nav ul li a:hover {
    color:#FFF;
    background:#333;
    display: inline-block;
    text-decoration:none;
}