<!--

 |||||  ||||||  ||  ||  ||   ||     ||||||  ||||||  ||  ||||||  || //   ||||||  ||||||
   ||   ||  ||  ||  ||  |||  ||     ||      ||  ||  ||  ||      ||//    ||        ||  
   ||   ||  ||  ||||||  |||| ||     ||      ||||//  ||  ||      ||\\    ||||      ||
|| ||   ||  ||  ||  ||  || ||||     ||      ||  \\  ||  ||      || \\   ||        ||
|||||   ||||||  ||  ||  ||  |||     ||||||  ||  ||  ||  ||||||  ||  \\  ||||||    ||

-->
<!-- starts html page -->
<!DOCTYPE html>
<html lang="pt-BR">
<!-- starts head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- Remote Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Local Links -->

    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
</head>
<!-- ends head // starts body -->
<body>
    <div class="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" rel="canonical" href="./"><img src="{{url_for('static', filename='img/icons/bamboolinux30.png')}}" alt="Bamboolinux Brand"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                <!-- Starts Navigation Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">
                    HOME
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sobre')}}">
                    SOBRE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('produtos')}}">
                    PRODUTOS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contato')}}">
                    CONTATO
                    </a>
                </li>
                </ul>
                <!-- Ends Navigation Menu -->
            </div>
            <!-- ends collapse -->
        </nav>
        <!-- ends navigation // starts main -->
        <div class="main">
            {% block content %} {% endblock %}
        </div>
        <!-- ends main // starts footer --->
        <footer class="text-center">
            <div class="copyleft">
                <div class="copyleft-left">
                    <span><i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-nc"></i> <i class="fab fa-creative-commons-nd"></i> <i class="fab fa-creative-commons-sa"></i></span> <span><a href="/">MEU LINDO SITE EM PYTHON & FLASK</a></span> &#x1F12F; 2019 &#150; 2021
                </div>
                <div class="copyleft-right">
                    <span><a target="_blank" href="https://bamboolinux.com.br">Bamboolinux</a> &reg; 2019 &#150; 2021</span> | <span><a href="./"><i class="fas fa-home"></i></a></span> | <span><a href="/"><i class="fas fa-arrow-circle-up"></i></a></span> | <span><a href="/"><i class="fas fa-database"></i></a></span>
                </div>
            </div>
        </footer>
        <!-- ends footer -->
    </div>
    <!-- ends wrapper -->
</body>
</html>