{% extends 'base.html' %}

{% block content %}
            <div id="produtos">
                <h1>{% block title %} Produtos {% endblock %}</h1>
                <div class="content">
                    <p>Suspendisse gravida sapien est, in imperdiet elit consequat bibendum. Nulla nec arcu id quam pharetra blandit. Nunc ullamcorper lorem non augue sodales, eget elementum lacus tincidunt. Nullam ultricies laoreet volutpat. Donec justo sapien, tempus vel leo id, commodo porttitor arcu. Maecenas tristique nisi et lectus ornare fermentum. Pellentesque fringilla mauris est. Cras viverra odio ligula, sit amet viverra dolor placerat volutpat. Fusce lacinia blandit dictum. Praesent maximus molestie erat id dignissim.</p>
                </div>
            </div>
{% endblock %}