body {
    font-family:"Poppins", sans-serif;
    font-size:100%
}

.navbar {
    text-align: right;
    font-size:2rem;
}

.navbar-nav li, .navbar-nav li a:visited, .navbar-nav li a:hover {
    text-decoration:none;
}